.sidenav {
  width: 300px;
}

.search {
  display: flex;
  align-items: center;
}

header {
  background-image: url(../../../assets/images/banner-blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 400px;
  left: 0;
  width: 100%;
}

.example-card {
  width: 750px;
}

article {
  margin: 45px 0;
}
