<header>
  <div class="banner">
    <h1 class="title">Blog</h1>
    <h2 class="subtitle"></h2>
  </div>
</header>
<mat-sidenav-container>
  <mat-sidenav class="sidenav" disableClose mode="side" opened="true">
    <mat-list>
      <h3 matSubheader>Catégories</h3>
      <mat-list-item>
        Laravel
      </mat-list-item>
      <mat-list-item>
        VueJS
      </mat-list-item>
      <mat-list-item>
        Angular
      </mat-list-item>
     <mat-divider></mat-divider>
    </mat-list>
    <mat-list>
      <h3 matSubheader>Catégories</h3>
      <mat-list-item>
        Laravel
      </mat-list-item>
      <mat-list-item>
        VueJS
      </mat-list-item>
      <mat-list-item>
        Angular
      </mat-list-item>
     <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <div>
    <div class="search">

    </div>
  </div>
</mat-sidenav-container>
