<p>
Je m'appelle Maxime Leclerc, j'ai 24 ans et j'habite près de Caen en région Basse-Normandie.
Passionné par le web depuis de nombreuses années, j'ai commencé à acquerir des compétences dans ce domaine en faisant un DUT informatique (option génie logiciel) après avoir obtenu mon bac scientifique (option sciences de l'ingénieur).
J'ai ensuite poursuivi mes études avec une licence professionnelle Activités et Techniques de Communication Webmestre afin de parfaire mes connaissances dans ce domaine.
</p>
<p>
Curieux et ayant conscience de l'importance de la veille technologique, je continue à exercer ma passion sur mon temps libre sur des technologies innovantes telles que Angular2 et VueJS. Je suis aujourd'hui développeur web full-stack au sein d'une entreprise de logistique près de Caen.
</p>
