 <mat-toolbar class="transparent" [ngClass]="{ 'page-scroll-header': isScrolled }">
  <mat-toolbar-row>
    <span class="logo"></span>

    <span class="spacer"></span>

    <ul class="nav-right">
      <li><a class="nav-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a></li>
      <li><a class="nav-item" routerLink="about" routerLinkActive="active">A propos</a></li>
      <li><a class="nav-item" routerLink="posts" routerLinkActive="active">Blog</a></li>
  	  <li><a class="nav-item" routerLink="contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
