.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

header {
  background-image: url(../../assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 400px;
  left: 0;
  width: 100%;
}
